 <!--<include file="Index/header" />-->
<!-- 列表 -->
 <body>
 <div id="wrapper">
 <!--<include file="Index/nav"/>-->
	 <div id="page-wrapper">
<div class="list-div" id="listDiv">
	<table cellpadding="3" cellspacing="1">
    	<tr>
            <th >wqw</th>
			<th width="60">操作</th>
        </tr>
		<?php print_r($data) ?>
		<?php foreach ($data as $k => $v): ?>            
			<tr class="tron">
				<td><?php echo $v['hire_id']; ?></td>
				<td><?php echo $v['job']; ?></td>
				<td><?php echo $v['duty']; ?></td>
				<td><?php echo $v['requirement']; ?></td>
		        <td align="center">
		        	<a href="<?php echo U('edit?hire_id='.$v['hire_id'].'&p='.I('get.p')); ?>" title="编辑">编辑</a> |
	                <a href="<?php echo U('delete?hire_id='.$v['hire_id'].'&p='.I('get.p')); ?>" onclick="return confirm('确定要删除吗？');" title="移除">移除</a> 
		        </td>
	        </tr>
        <?php endforeach; ?> 
		<?php if(preg_match('/\d/', $page)): ?>  
        <tr><td align="right" nowrap="true" colspan="99" height="30"><?php echo $page; ?></td></tr> 
        <?php endif; ?> 
	</table>
</div>
	 </div>
<script>
</script>
 <!--<include file="Index/footer" />-->